@model LivroModel
@{
    ViewData["title"] = "Cadastrar Livros";
}

<div class="container bg-dark p-5 rounded-5">
    <div class="mb-5 text-center">
        <h1 class="text-light">Cadastro de Livros</h1>
    </div>
    <form method="post" asp-controller="Livros" asp-action="Cadastrar">

        <div class="mb-3">
            <label for="Titulo" class="form-label text-light">Título</label>
            <input type="text" class="form-control text-light" asp-for="Titulo" id="titulo" placeholder="Digite o Título do Livro">
            <span class="text-danger" asp-validation-for="Titulo"></span>
        </div>

        <div class="mb-3">
            <label for="Usuario" class="form-label text-light">Usuário:</label>
            <select class="form-control text-light" asp-for="UsuarioId" id="usuario">
                @foreach (var usuario in ViewBag.Usuarios)
                {
                    <option value="@usuario.Id">@usuario.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="UsuarioId"></span>
        </div>

        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50">Adicionar</button>
            <a class="btn btn-primary w-50" asp-controller="Livros" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>
