@model UsuarioModel
@{
    ViewData["title"] = "Excluir Usuário";
}

<div class="container bg-dark p-5 rounded-5">
    <div class="mb-5 text-center">
        <h1 class="text-light">Exclusão de Usuário</h1>
    </div>
<form method="post" asp-controller="Usuarios" asp-action="Excluir">

    <h2 class="text-light">Tem certeza que deseja excluir o registro abaixo ? </h2>
      <input type="hidden" asp-for="Id"/>
                <div class="mb-3">
                    <label for="Recebedor" class="form-label text-light">Nome:</label>
                    <input type="text" class="form-control text-light" asp-for="Name" id="nome" disabled>
                    <span  class="text-danger" asp-validation-for="Name"></span>
                </div>

                <div class="mb-3">
                    <label for="Fornecedor" class="form-label text-light">Email:</label>
                    <input type="text" class="form-control text-light" asp-for="Email" id="email" disabled>
                    <span  class="text-danger" asp-validation-for="Email"></span>
                </div>

                <div class="mb-3">
                    <label for="Livro" class="form-label text-light">Telefone:</label>
                <input type="text" class="form-control text-light" asp-for="Phone" id="phone" disabled>
                <span class="text-danger" asp-validation-for="Phone"></span>
            </div>
        <div class="d-flex gap-5 mt-5">
        <button type="submit" class="btn btn-danger w-50">Excluir</button>
        <a class="btn btn-primary w-50" asp-controller="Usuarios" asp-action="Index">Voltar</a>
    </div>
</form>
</div>

