@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1 class="display-4">Emprestimos online</h1>
   
   <div>
      <img src="/imagens/read_book_study_icon-icons.com_51077.png"/>
   </div>
</div>
